# -----------------------------
# Jupyter Notebook
# -----------------------------

.ipynb_checkpoints/

# -----------------------------
# Python
# -----------------------------

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# -----------------------------
# Environment / secrets
# -----------------------------
.env
*.env

# -----------------------------
# Logs & temp files
# -----------------------------
*.log
*.tmp
*.swp
.DS_Store

# -----------------------------
# IDE / Editor
# -----------------------------

.vscode/
.idea/
